
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

.underline {
    position: relative;
    width: 75px;
    height: 3px;
    background-color: #20c997;
}

.container .heading::before {
    font-size: 100px;
    font-weight: 800;
}


/* 1st Section Styling >> Home Page */
#home {
    height: 100vh;
    background-image: url(../images/intro-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.navbar {
    background-color: #000;
}

.navbar-nav a {
    color: #f1f1f1 !important;
    transition: all 0.25s ease-in-out;
}

.navbar-nav a:hover {
    color: #20c997 !important;
}

.navbar-nav a.active {
    color: #20c997 !important;
}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(43, 43, 43, 0.8);
}

.navbar-nav .nav-item {
    padding-right: 10px;
} 

#home .home-info {
    height: 75vh;
    color: #fff;
    position: relative;
}

#home .home-info h1 {
    font-size: 50px;
    font-weight: 700;
    animation: animo 12s steps(12) infinite;
    white-space: nowrap;    
    overflow: hidden;
    color: #fff;
    border-right:6px solid #f1f1f1;
}

#home .home-info h1::before {
    content: "";
    animation: animo 12s steps(12) infinite;
}


@keyframes animo {
    0% {
        content: "I'm Simone Olivia.";
        width: 0ch; 
    }
 
    13% {
        content: "I'm Simone Olivia.";
        width: 16ch;
    }
 
    25% {
        content: "I'm Simone Olivia.";
        width: 3ch;
    }

    26% {
        content: "I'm a Freelancer.";
        width: 3ch;
    }

    38% {
        content: "I'm a Freelancer.";
        width: 15ch;
    }

    51% {
        content: "I'm a Freelancer.";
        width: 5ch; 
    }

    52% {
        content: "I'm a Photographer.";
        width: 5ch; 
    }

    64% {
        content: "I'm a Photographer.";
        width: 17ch; 
    }

    76% {
        content: "I'm a Photographer.";
        width: 5ch; 
    }

    77% {
        content: "I'm a Designer.";
        width: 5ch; 
    }

    87% {
        content: "I'm a Designer.";
        width: 13ch; 
    }

    100% {
        content: "I'm a Designer.";
        width: 0ch; 
    }
}


#home .home-info button {
    border: #20c997 2px solid;
    color: #20c997;
}

#home .home-info button:hover {
    background-color: rgb(32, 201, 151);
    color: #fff;
}

#home .fixed-item button {
    position: fixed;
    top: 35vh;
    right: 0;
    padding: 8px;
    background-color: #6e6e6e;
    border-radius: 4px 0 0 4px;
    border: none;
    z-index: 99999;
}

#home .fixed-item button i {
    font-size: 22px;
    color: #f1f1f1;
}


/* 2nd Section Styling >> About */
#about .container .heading {
    position: relative;
}

#about .container .heading::before {
    content: "ABOUT ME";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#about .container .heading h2 {
    font-size: 35px;
    position: relative;
}


#about .about-info .info-1 .simone {
    color: #20c997;
}

#about .about-info .info-1 p {
    color: #6e6e6e;
}


#about .about-info .info-2 ul li {
    padding-left: 0 !important;
    padding: 10px;
    color: #474747;
}

#about .about-info .info-2 ul li .mail {
    text-decoration: none;
    color: #20c997;
}

#about .about-info .info-2 ul li .mail:hover {
    color: #21ac82;
}

#about .about-info .info-2 ul li span {
    font-size: 16px;
    font-weight: 700;

}

#about .about-info .info-2 button {
    background-color: #20c997;
}

#about .about-info .info-2 button:hover {
    background-color: #21ac82;
    color: #f1f1f1;
}

#about .statistics .item {
    border-right: 1px dotted #dfdada !important;
}

#about .statistics .item.item4 {
    border-right: none !important;
}

#about .statistics div h2 {
    font-size: 40px;
    font-weight: 700;
    transform: scale(1.1);
    color: #6e6e6e;
}

#about .statistics div h6 {
    color: #6e6e6e;
}


/* 3rd Section Styling >> What I Do */
#what {
    background-color: #f8f9fa;
}

#what .container .heading {
    position: relative;
}

#what .container .heading::before {
    content: "SERVICES";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#what .container .heading h2 {
    position: relative;
}


#what .container .services .service {
    /* width: 50%; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

#what .container .services .service .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 10px rgb(216, 212, 212);
}

#what .container .services .service .icon i {
    font-size: 30px;
    color: #20c997;
    padding: 20px;
}

#what .container .services .service .bla  {
    padding: 0 40 0 20;
}

#what .container .services .service .bla h5  {
    font-size: 20px;
}

#what .container .services .service .bla p  {
    line-height: 30px;
}


/* 4th Section Styling >> Resume */
#resume .container .heading {
    position: relative;
}

#resume .container .heading::before {
    content: "SUMMARY";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#resume .container .heading h2 {
    position: relative;
    font-size: 40px;
}

#resume .container .card {
    padding: 10px;
    margin-bottom: 25px ;
}

#resume .container .card .card-body .period {
    background-color: #20c997;
    color: #fff;
    width: fit-content;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 14px;
}

#resume .container .card .card-body .card-title {
    padding: 8px 0;
    color: black;
    font-size: 24px;
}

#resume .container .card .card-body .card-text {
    padding-top: 5px;
    line-height: 28px;
    color: #6e6e6e;
}


#resume .container .card .card-body .card-subtitle {
    color: #db2a39 !important;
}

#resume .container .skills .progress {
    height: 8px;
    border-radius: 5px;
    margin-top: 8px;
}

#resume .container .skills .progress .progress-bar {
    background-color: #20c997;
}


/* 5th Section Styling >> Portfolio */
#portfolio {
    background-color: #f8f9fa;
}

#portfolio .container .heading::before {
    content: "PORTFOLIO";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#portfolio .container .heading h2 {
    position: relative;
    font-size: 40px;
}

#portfolio .container .categories {
    position: relative;
}

#portfolio .container .categories ul {
    list-style: none;
    display: flex;
}

#portfolio .container .categories ul li a {
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    transition: 0.25s ease-in-out;
}

#portfolio .container .categories ul li:hover a {
    color: #20c997;
}

#portfolio .container .categories ul .active {
    border-bottom: solid 2px #20c997;
}

#portfolio .container .categories ul .active a {
    color: #20c997;
}

#portfolio .container .pics .column .pic-container {
    margin: 24px 0;
    position: relative;
    overflow: hidden;
}

#portfolio .container .pics .pic-container a img {
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;

}

#portfolio .container .pics .pic-container:hover .on-hover {
    opacity: 1;
}

#portfolio .container .pics .pic-container:hover img {
    transform: scale(1.1);
}

#portfolio .container .pics .pic-container .on-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(37, 35, 35, 0.8);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


/* 6th Section Styling >> Client */
#client {
    overflow: hidden;
    background-color: #fff;
}

#client .container .heading {
    font-size: 50px;
    position: relative;
}

#client .container .heading::before {
    content: "TESTIMONIAL";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#client .container .heading h2 {
    position: relative;
}

#client .client-feedback .feedback {
    background-color: #eef0f1;
    border-radius: 5px;
    padding: 50px 40px;
    position: relative;
    overflow: hidden;
}

#client .feedback .client-info {
    display: flex;
    align-items: center;
}

#client .feedback .client-info .bla {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#client .feedback .client-info .client-image {
    padding-right: 20px;
    padding-bottom: 20px;
    z-index: 100;
    width: 20%;
}

#client .feedback .client-image img {
    border-radius: 50%;
    width: 100%;
}

#client .feedback h5 {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0;
}

#client .feedback   h6 {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 600;
    color: #777777;
}

#client .feedback  .client-feedback p {
    line-height: 25px;
    color: #666666;
    font-style: italic;
}

#client .feedback img {
    padding: 10px 0;
}

#client .buttons button {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #999999;
    border: none; 
}

#client .buttons .button-container {
    margin-right: 10px;
}

#client .buttons .button-container:hover {
    padding: 5px;
    border: solid 1px #20c997;
    border-radius: 50%;
    color: #20c997;
}

#client .buttons .button-container:hover .button2 {
    background-color: #20c997;
}

#client .buttons .cont1 {
    padding: 5px;
    border: solid 1px #20c997;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#client .buttons .button1 {
    background-color: #20c997;
}



/* 7th Section Styling >> Contact */
#contact {
    background-color: #f8f9fa;
}

#contact .container .heading {
    position: relative;
}

#contact .container .heading::before {
    content: "CONTACT";
    letter-spacing: 5px;
    color: #eef0f1;
    position: absolute;
    text-align: center;
    transform: scaleY(1.2);
    padding-bottom: 10px;
}

#contact .container .heading h2 {
    position: relative;
}

#contact .contact-details .title {
    padding-bottom: 15px;
}

#contact .contact-details h6 {
    line-height: 25px;
    padding-right: 20px;
    color: #666666;
}

#contact .contact-details ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#contact .contact-details ul li {
    padding-bottom: 10px;
}

#contact .contact-details ul li i {
    font-size: 16px;
    color: #20c997;
    padding-right: 10px;
}

#contact .contact-details ul li span {
    color: #666666;
}

#contact .form {
    /* width: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .form .bla {
    align-self: flex-start;
    margin-bottom: 15px;
}

#contact .form .name-mail {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    width: 100%;
}

#contact .form .name-mail input {
    width: 50%;
    border-radius: 5px;
    border: solid 1px #c9c1c1;
    padding: 12px 10px;
}

#contact .form .name-mail input::placeholder,
#contact .form textarea::placeholder {
    color: #c9c1c1;
}

#contact .form .name-mail input.name {
    margin-right: 20px;
}

#contact .form .area {
    width: 100%;
}

#contact .form .area textarea{
    width: 100%;
    padding: 12px 10px;
    border: solid 1px #c9c1c1;
    border-radius: 5px;
}

#contact .submit-button {
    margin-top: 25px;
}

#contact .submit-button .submit {
    padding: 12px 40px;
    border-radius: 30px;
    background-color: #20c997;
    border: none;
    font-weight: 600;
    color: #fff;
}

#contact .submit-button .submit:hover {
    background-color: #21ac82;
}


/* 8th Section Styling >> Footer */
footer {
    padding: 10 0 30px 0;
    background-color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .container a {
    text-decoration: none;
    color: #20c997;
}

footer .container .links a {
    color: #333333;
    padding-left: 20px;
    transition: all 0.25s ease-in-out;
}

footer .container .links a span {
    padding-right: 20px;
}

footer .container .links a:hover {
    color: #20c997;
}


/* Responsive Design for smaller Laptop screens */

@media screen and (max-width: 1200px) {

    .navbar .container-fluid {
        width: 90%;
    }

    #what .container .services .service .bla  {
        padding: 0 0 0 20 ;
    }

    #contact .form .name-mail {
        flex-direction: column;
    }
    #contact .form .name-mail input {
        width: 100%;
    }

    #contact .form .name-mail .name {
        margin-bottom: 20px;
    }

    footer .container {
        flex-direction: column;
    }
    
    footer .container div {
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 900px) {
    .container .heading::before {
        font-size: 80px;
    }   
}

/* Responsive Design for Tablet screens */

@media screen and (max-width: 768px) {

    .navbar .container-fluid {
        width: 90%;
    }

    .container .heading::before {
        font-size: 65px;
    }

    #about .about-info .info-2 .btnContainer {
        text-align: center;
    }

    #about .about-info .info-1 {
        text-align: center;
        padding-bottom: 40px;
    }

    #about .statistics .item {
        width: 50% !important;
    }

    #about .statistics .item2 {
        border-right: none !important;
    }

    #about .statistics .item1,
    #about .statistics .item2 {
        border-bottom: dotted 1px #dfdada !important;
    }

    #resume .container .resume-details .education {
        padding-right: 0 !important;
    }

    #resume .container .resume-details .experience {
        padding-left: 0 !important;
        padding-right: 12px !important;
    } 

    #resume .container .card {
        padding: 10px;
    }

    #resume .skills .frameworks {
        padding: 0 !important;
    }

    #resume .skills .frameworks {
        padding-right: 12px !important;
    }

    #resume .skills .basics .skill {
        padding-right: 0 !important;
        margin-right: 0px !important;
    }

    #resume .skills .skill .perc h6 {
        font-size: 16px;
        font-weight: 500;
    }

    #portfolio .container .pics .column {
        padding: 0 !important;
    }

    #portfolio .container .pics .column .pic-container {
        margin: 24px 0;
    }

    #client .feedback.feedback1 {
        margin-bottom: 24px;
    }

    #contact .contact-details {
        text-align: center; 
    }

    #contact .form {
        width: 100% !important;
        margin-bottom: 40px;
    }
}


/* Responsive Design for Mobile screens */

@media screen and (max-width: 568px) {

    .container .heading::before {
        font-size: 50px;
    } 

    #home .home-info h1 {
        font-size: 33px;
    }

    #resume .container .resume-details .education {
        padding-left: 24px !important;
    }

    #resume .container .resume-details .experience {
        padding-left: 12px !important;
        padding-right: 12px !important;
        margin-left: 0 !important;
    } 

    #resume .skills .frameworks {
        padding: 0 !important;
    }

    #resume .skills .frameworks {
        padding-left: 8px !important;
        padding-right: 16px !important;
    }

    #resume .skills .basics {
        padding-left: 10px !important;
    }

    #portfolio .container .pics .column {
        padding: 0 8px !important;
    }

    #contact .details .contact-details {
        padding-bottom: 15px;
    }

    footer .links:first-child a {
        padding-left: 0 !important;
    }
} 
